$green: #7AB851;
$black: #000100;
$blue-light: #63BFE8;
$blue-dark: #29768E; 

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    font-family: 'Lato' ,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #000100;
    
    
}