@import "app.scss";

.applyreview-container{
    float:left;

    .statistiques {
        position: relative;
        float:left;
        background-color: #E8E8E8;
        width: 850px;
        height: 200px;
        margin: 30px;
        padding: 20px;
        text-align: left;
    }   

    .apply-container{
        position: relative;
        float:right;
        width: 500px;
        height: 400px;
        border: 2px solid lightgrey;
        margin-left: 10px;
        margin-top: 30px;
        padding:20px;
        text-align: left;

        h2{
            color:$green;
            text-align: center;
        }

        input[type="button"]{
            background-color: white;
            border: 1px solid lightgrey;
            padding: 5px;
            margin-bottom: 40px;
            margin-top: 10px;
            
            &:hover{
                background-color: lightgrey;
            }

        }

        input[type="file"]{
            display:none;
            padding: 5px;
            width: 200px;
            margin-bottom: 40px;
            margin-top: 10px;

            &:hover{
                background-color: lightgrey;
            }

        }

        label {
            padding: 5px;
            width: 200px;
            margin-bottom: 40px;
            margin-top: 10px;
            border: 1px solid lightgrey;
            border-radius: 2px;
            cursor: pointer;

            &:hover{
                background-color: lightgrey;
            }
        }

        .save{
            border: 2px solid lightgrey;
            width: 200px;
            margin-bottom: 20px;
            padding:5px;
        }

        .myoffers {
            margin-left: 10px;
            border: none;

            &:hover{
                background-color: white;
            }
        }

        #submit{
            background-color: $blue_light;
            color: white;

            &:hover{
                background-color: $blue_dark;
            }
        }
    }

    .review-container{

        text-align: left;
        padding: 10px;
        margin:20px;
    
        span {
            border: 2px lightgrey solid;
            padding: 5px;
            padding-left: 50px;
            padding-right: 50px;
        }
    
        #anonyme {
            float:left;
            margin-top:20px;
        }
        .read{
            border: 2px solid #E8E8E8;
            width: 850px;
            height: 300px;
            margin-top: 30px;
            
        }
    }
    
}