@import 'app.scss';

.info-container {

    background-color: lightgray;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 15px;
    text-align: left;
    min-width: 300px;

    .info-group {

        margin-top: 20px;

        h1 {

            font-size: 17px;
        }

        p {

            font-size: 15px;
        }
    }
}

@media screen and (max-width: 750px) {

    .info-container {

        width: 95%;
    }
}