@import 'app.scss';

.createcompany-container {

    background-color: lightgray;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 15px;
    text-align: left;
    min-width: 300px;
    height: 700px;

    .form-group {

        margin-top: 20px;

        label {

            font-size: 17px;
        }

        input {

            font-size: 17px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 3px;
            padding-right: 3px;
            margin-top: 5px;
        }

        .labelInvisibility {

            margin-left: 10px;
        }
    }

    a {

        text-decoration: none;
        color: white;
        background-color: $blue-light;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 17px;
        border-radius: 2px;
        transition-duration: 100ms;
        cursor: pointer;

        &:hover {

            filter: brightness(108%);
            transition-duration: 100ms;
        }
    }

    .createBtn {

        font-size: 22px;
    }
}