@import 'app.scss';

.connexion {
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    width: 1000px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

    .gauche {
        margin-top: 60px;

        img {
            float:left;
            position:relative;
            width: 200px;
            background-color: rgb(255, 255, 255);
            border-radius: 40px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow:  17px 17px 33px #9f9f9f,
             -17px -17px 33px #ffffff;
            margin-bottom: 30px;
            margin-top: 30px;
            margin-left: 40px;
        }

        .cesi {
            font-family: "Courier New";
            position:relative;
            float: left;
            font-size: 40px;
            font-weight: bold;
            color: $blue_dark;
            margin-top: 30px;
        }

        .ligne { 
            margin-left: 100px;
            border-left: 2px solid lightgrey; 
            height: 300px; 
            display: inline-block;
            } 
    }

    .droite {
        float:left;
        margin-top:80px;
        margin-left: 100px;
    }

    h1 {
        
        padding-top: 15px;
        font-size: 25px;
    }       

        form {

            text-align: left;
            padding-bottom: 15px;
            margin-top: 50px;

            p {

                margin-bottom: 20px;
                font-weight: bold;
                font-size: 17px;
                margin-left: 2vw;
            }

            input{
                
                font-size: 17px;
                margin-top: 2px;
                padding-left: 3px;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-right: 3px;
            }

            .btn-valider, .btn-reset {

                font-size: 18px;
                padding-left: 7px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-right: 7px;
                background-color: $blue-light;
                border-radius: 5px;
                border-style: none;
                color: white;

            }

            .btn-valider {

                margin-left: 2vw;
            }

            .btn-reset {

                margin-left: 20px;
            }

        }
}

@media screen and (max-width: 860px) {

    .connexion{
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;

        .gauche {

            img {
                width: 200px;
                margin-top: 20px;
                margin-left: 300px;
            }

            .cesi {
                margin-bottom: 20px;
                margin-left: 260px;
                
            }

            .ligne{
                border-top: 1px solid lightgrey;
                border-left: 0px;
                width : 400px; 
                height: 0px;
                margin-right: 200px;
                margin-left: 200px;
            } 
        }

        .droite {
            margin-top:20px;
            margin-bottom: 40px;
            margin-left: 0px;
        }
    }
}
