@import 'app.scss';

.myoffer-container {

    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;

    span {

        a {

            text-decoration: none;
            color: grey;

            &:hover {

                color: black;
            }
        }
    }

    .tags-container {

        margin-left: auto;

        .statut {

            margin-right: 10px;
            background:$blue-light;
            color: white;
            border: none;
            padding-top: 3px;
            padding-bottom: 4px;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 2px;
            font-size: 14px;
        }

        .delete {

            color: white;
            background-color: #DC3545;
            border: none;
            padding-top: 3px;
            padding-bottom: 4px;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 2px;
            transition-duration: 100ms;
            font-size: 14px;

            &:hover {

                filter: brightness(108%);
                cursor: pointer;
                transition-duration: 100ms;
            }
        }
    }
}