@import 'app.scss';

.myaccount-container {

    text-align: left;
    width: 300px;

    span {

        font-size: 18px;
    }

    p {

        color: gray;
    }

    .disconnect {
        background-color: #DC3545;
        color: white;
        border:none;
        border-radius: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        transition-duration: 100ms;

        &:hover {

            filter: brightness(108%);
            transition-duration: 100ms;
        }
    }
}

@media screen and (max-width: 750px) {

    .myaccount-container {

        text-align: center;
        margin: auto;
    }
}