@import 'app.scss';

.nav {
  display: none;
  width: 100%;
  height: 10vh;
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-between;
  align-items: center;

  .nav-logo{
    color: $green;
    margin-right: 5vw;
    font-size: calc(max(25px, 1.8vw));
  }

  .nav-label{

    display: flex;
  
    a{
      display: inline-block;
      text-decoration: none;
      font-size: calc(max(20px, 1.6vw));
      font-weight: 400;
      color: $black;
      margin-left: 2vw;

      &:hover{
        color: $blue-light;
      }

    &::after {
        content: '';
        width: 0;
        display: block;
        height: 2px;
        margin-top: 2px;
        background-color: $blue-light;
        transition: width .3s;
    }

    &:hover::after {
        width: 100%;
    }

    &.router-link-exact-active:after{
      margin-left: 20%;
      width: 60%;
    }
    }

    .icon {
      display: none;
    }
  }

  .nav-button{

    button{
      display: inline-block;
      border: none;
      background-color: white;
      font-size: calc(max(15px, 1.4vw));
      font-weight: 100;
      color: $blue-light;
      border-radius: 10px;
      border: 2px solid $blue-light;
      padding: 5px 15px 5px 15px;
      transition-duration: 200ms;

      &:hover{
        cursor: pointer;
        background-color: $blue-light;
        color: white;
        transition-duration: 200ms;
      }
    }
  }

}

.navresponsive{
  position: relative;
  width: 100%;
  height: 35vh;
  background-color: white;

  .nav-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button.icon{
      position: absolute;
      left: 20px;
      top: 20px;
      border: none;
      background: transparent;
      order: -1;

      &:hover{
        cursor: pointer;
      }
    }

    h1{
      display: none;
    }

    a{
      display: block;
      color: $blue-light;
      text-decoration: none;
      font-size: 30px;
      margin-top: 20px;
    }
  }

  .nav-button{
    display: none;
  }
}

@media screen and (max-width: 675px) {

  .nav {

    .nav-label a {
      display: none;
    }
    .nav-label button.icon {
      display: block;
      border: none;
      background: transparent;
      margin-right: 6vw;
      margin-left: -1vw;
      margin-top: 3px;
      order: -1;

      &:hover{
        cursor: pointer;
      }
    }
  }
  
}


@keyframes SlideIn {
  from{
      opacity: 0;
      height: 0px;
  }
  to {
      opacity: 100%;
      height: 25vh;
  }
}

@keyframes SlideOut {
  from{
    opacity: 100%;
    height: 25vh;
      
  }
  to {
    opacity: 0;
    height: 0px;

  }
}