@import 'app.scss';

/*p {
    position: relative;
    text-align: left;
    font-size: 22px;
    margin-left: 30px;
    top: 90px;
    left: 20px;
  }
  
  img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    border-radius: 50%;
    height: 100%;
    width: auto;
  }
  
  .ProfilImg {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 70px;
  }
  
  input {
    position:relative;
    float:left;
    font-size: 18px;
    top:200px;
    right:100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: white;
    border-color: rgb(235, 235, 235);
    border-width: 2px;
    color: grey;
    border-radius: 2px;
    border-style:solid;
  }
  
  input:hover {
    color: white;
    background: #29768e;
  }
  
  .MyAccount {
    padding-right: 87px;
  }
  
  .MyOffers {
    padding-right: 102px;
  }
  
  .vertical-line {
    position:relative;
    float:left;
    border-left: 2px solid lightgrey;
    display: inline-block;
    height: 500px;
  }*/

  .profil-container {

    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: flex-start;

    .profil {

      display: flex;
      flex-direction: row;
      align-items: center;
      

      img {

        width: 55%;
      }

      p {

        margin-left: 15px;
        margin-top: 0;
        font-size: 20px;
        text-align: left;
        color: black;
      }
    }

    p {

      margin-top: 10px;
      font-size: 16px;
      color: gray;
    }

    .input-container {

      margin-top: 40px;
      display: flex;
      flex-direction: column;
      width: 55%;

      a {

        font-size: 18px;
        padding: 5px;
        text-align: left;
        color: gray;
        border: 1px solid gray;
        border-radius: 2px;
        transition-duration: 100ms;
        background-color: white;
        text-decoration: none;

        &:hover {

          color: white;
          background-color: $blue-dark;
          transition-duration: 100ms;
          border-color: $blue-dark;
        }
      }

      .offer-input {

        margin-top: 10px;
      }
    }
  }

  @media screen and (max-width: 1000px) {

    .profil-container {

      width: 200px;

      .profil {

        flex-direction: column;
        align-items: center;

        img {

          width: 90%;
        }
      }

      p {

        margin-top: 20px;
        align-self: center;
        width: 90%;
        text-align: left;
      }

      .input-container {

        width: 90%;
        align-self: center;
      }
    }
  }