@import 'app.scss';

.container {

    background-color: lightgray;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 15px;
    text-align: left;
    min-width: 300px;
    height: 100%;

    .form-group {
        margin-top: 20px;
        
        span, input {

            font-size: 17px;
        }

        input {

            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 3px;
            padding-right: 3px;
            margin-top: 5px;
        }

        .rangeSpan {

            margin-left: 10px;
        }

        .rangeInput {

            width: 200px;
        }

        .nbrInput {

            width: 60px;
            text-align: center;
        }
    }
}