@import 'app.scss';

.container {

    background-color: lightgray;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 15px;
    text-align: left;
    min-width: 300px;

    .form-group {
        margin-top: 20px;
        
        span, input, .roleInput {

            font-size: 17px;
        }

        input, .roleInput {

            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 3px;
            padding-right: 3px;
            margin-top: 5px;

        }
    }
}

@media screen and (max-width: 750px) {

    .container {

        width: 95%;
    }
}